n8n/auth.json
{
  "name": "auth",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "pva-check-email",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        64
      ],
      "id": "9f90f091-b1f0-48b6-92e1-d09852c4701e",
      "name": "checkEmail",
      "webhookId": "a9c6d30c-6b66-48d9-a56d-61c3cd590de8",
      "notesInFlow": true,
      "notes": "/pva-check-email"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "pva-reg",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        272
      ],
      "id": "038af423-2cf0-4a61-8c80-e31f6683b303",
      "name": "reg",
      "webhookId": "a9c6d30c-6b66-48d9-a56d-61c3cd590de8",
      "notesInFlow": true,
      "notes": "/pva-reg"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "pva-login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        480
      ],
      "id": "83766523-44a2-4f19-bae6-b5aefa2cacf3",
      "name": "login",
      "webhookId": "a9c6d30c-6b66-48d9-a56d-61c3cd590de8",
      "notesInFlow": true,
      "notes": "/pva-login"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90d92813-f5ad-4092-a9c9-a6c7d3b7f8c0",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        64
      ],
      "id": "e65e5ee6-f7e3-4380-9586-152166f81207",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"no\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        144
      ],
      "id": "671a32ef-8685-4813-826f-bf73e5b197c9",
      "name": "checkFailed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        16
      ],
      "id": "470f16cf-3c07-4da2-b369-9b154308adc4",
      "name": "checkSuccess"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "804unlg5EBWMzzkN",
          "mode": "list",
          "cachedResultName": "app-users-admin",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/804unlg5EBWMzzkN"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.user }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -464,
        64
      ],
      "id": "4cd13d6c-0491-44f9-ba12-a4adb0acfa3c",
      "name": "Check email exits",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const bcrypt = require('bcrypt');\n\n// Lấy email và password từ webhook (từ node đầu tiên)\nconst userData = $('reg').first().json.body;\nconst user = userData.user;\nconst password = userData.password;\n\n// Hash password với bcrypt (salt rounds = 10)\nconst passwordHash = await bcrypt.hash(password, 10);\n\n\nreturn [{\n  json: {\n    user: user,\n    password_hash: passwordHash,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        272
      ],
      "id": "add93480-a907-4646-828a-49ca21a18914",
      "name": "Hash Password1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "804unlg5EBWMzzkN",
          "mode": "list",
          "cachedResultName": "app-users-admin",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/804unlg5EBWMzzkN"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.user }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -528,
        272
      ],
      "id": "654d4e7b-a5b3-47cf-9172-0e384af899ee",
      "name": "Check user info",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "804unlg5EBWMzzkN",
          "mode": "list",
          "cachedResultName": "app-users-admin",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/804unlg5EBWMzzkN"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.user }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "yes",
            "password": "={{ $json.password_hash }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "storeId",
              "displayName": "storeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "storeName",
              "displayName": "storeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -240,
        272
      ],
      "id": "09a33412-c2da-4a44-8979-2bd8bee8ab6c",
      "name": "updateUserInfo"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"register\": true\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        272
      ],
      "id": "7d5051b6-fcb9-4182-8dcc-5b67167f9a56",
      "name": "regSuccess"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "804unlg5EBWMzzkN",
          "mode": "list",
          "cachedResultName": "app-users-admin",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/804unlg5EBWMzzkN"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.user }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -528,
        480
      ],
      "id": "5ab22ccc-ab12-4be7-b917-46b46e328f21",
      "name": "Get User from Data Table"
    },
    {
      "parameters": {
        "jsCode": "const bcrypt = require('bcrypt');\n\n// Lấy data từ nodes trước\nconst webhookData = $('login').first().json.body;\nconst userFromDB = $('Get User from Data Table').first().json;\n\n// Check user exists\nif (!userFromDB || !userFromDB.email) {\n  return [{\n    json: {\n      valid: false,\n      message: 'Email không tồn tại'\n    }\n  }];\n}\n\n// Verify password với bcrypt\nconst passwordMatch = await bcrypt.compare(\n  webhookData.password,\n  userFromDB.password\n);\n\nreturn [{\n  json: {\n    valid: passwordMatch,\n    email: userFromDB.email,\n    message: passwordMatch ? 'Login successful' : 'Password không đúng',\n    name: userFromDB.firstName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        480
      ],
      "id": "6ef971b6-6274-4f6d-ba64-d4ae8a52ebcf",
      "name": "Verify Password"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a503b83c-f127-4cf8-8102-bddbe340dea1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        480
      ],
      "id": "1ac49f07-e1fc-4f60-9d00-1bc008e380a4",
      "name": "Check Password Valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"login\": true,\n  \"name\": \"{{ $json.name }}\",\n  \"storeId\": \"{{ $('Get User from Data Table').item.json.storeId }}\",\n  \"storeName\": \"{{ $('Get User from Data Table').item.json.storeName }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        416
      ],
      "id": "4f05c8e6-5bfc-4fd7-9d68-934274b28abd",
      "name": "Login Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n    \"login\": false\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        544
      ],
      "id": "3827c16b-c55f-4cc0-85f2-04045693fe40",
      "name": "Login Failed"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "pva-get-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        624
      ],
      "id": "a18f76b3-f76c-465d-bfa6-224ba893e51f",
      "name": "getInfo",
      "webhookId": "a9c6d30c-6b66-48d9-a56d-61c3cd590de8",
      "notesInFlow": true,
      "notes": "pva-get-user"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"name\": \"{{ $json.firstName }}\",\n  \"storeId\": \"{{ $json.storeId }}\",\n  \"storeName\": \"{{ $json.storeName }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -384,
        624
      ],
      "id": "09d7f9a9-58e5-476a-a367-64a3a5290302",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "804unlg5EBWMzzkN",
          "mode": "list",
          "cachedResultName": "app-users-admin",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/804unlg5EBWMzzkN"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.user }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -528,
        624
      ],
      "id": "c5e579a3-4d0a-4391-856e-99f5eab1541b",
      "name": "homeButton"
    }
  ],
  "pinData": {},
  "connections": {
    "checkEmail": {
      "main": [
        [
          {
            "node": "Check email exits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "checkSuccess",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkFailed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check email exits": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reg": {
      "main": [
        [
          {
            "node": "Check user info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check user info": {
      "main": [
        [
          {
            "node": "Hash Password1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password1": {
      "main": [
        [
          {
            "node": "updateUserInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateUserInfo": {
      "main": [
        [
          {
            "node": "regSuccess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "login": {
      "main": [
        [
          {
            "node": "Get User from Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User from Data Table": {
      "main": [
        [
          {
            "node": "Verify Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Password": {
      "main": [
        [
          {
            "node": "Check Password Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Password Valid": {
      "main": [
        [
          {
            "node": "Login Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Login Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getInfo": {
      "main": [
        [
          {
            "node": "homeButton",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "homeButton": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "tUGf8pqhOC0yFiUP",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c53fb977-ffd7-4290-ada9-70171808d264",
  "meta": {
    "instanceId": "68c41ac370df6979c43f7b043981d851778e281de852517a1e7ed81fd7414bf4"
  },
  "id": "ZcaL1inaBSVVrLDH",
  "tags": [
    {
      "updatedAt": "2026-02-22T19:25:48.964Z",
      "createdAt": "2026-02-22T19:25:48.964Z",
      "id": "eafg8h8piujdlV6P",
      "name": "pv-opshub-app"
    }
  ]
}