n8n/chat.json
{
  "name": "chat",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "pva-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        16
      ],
      "id": "18906287-da36-4de7-8db1-c355f9bf3363",
      "name": "Webhook",
      "webhookId": "bc5bc401-a245-45eb-b815-41c4739c26e7"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "4a4ce44b-5de7-4592-8d17-a58890d363a5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "284df640-cdc6-4429-ba47-dd2f1ce01881",
              "name": "=sku_{{ $itemIndex }}",
              "value": "=SKU: {{ $json.sku }} - Tổng tồn: {{ $json.count }}\nTên: {{ $json.sku_name }}\nSerial: {{ $json.serial_number }}\nMã BIN: {{ $json.bin }}\nZone: {{ $json.zone }}\nNgày nhập: {{ DateTime.fromJSDate(new Date($json['import_date'])).toFormat(\"dd-MM-yyyy\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        64
      ],
      "id": "ba5eacb3-5828-4ff9-97bb-85f896c024ea",
      "name": "get_needed_fields",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "86f6d1d5-1905-47f5-8805-765579a5d7e6",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        16
      ],
      "id": "3734e080-bb32-44db-b36a-c86b2f843c9c",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf783c69-5110-4f2f-a218-3bf9148b715b",
              "leftValue": "={{ $json.fifo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        80
      ],
      "id": "2f7c5f0e-273c-434a-84d5-607d35642acc",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "284df640-cdc6-4429-ba47-dd2f1ce01881",
              "name": "=sku_{{ $itemIndex }}",
              "value": "=SKU: {{ $json.sku }} - Đúng FIFO\nTên: {{ $json.sku_name }}\nSerial: {{ $json.serial_number }}\nMã BIN: {{ $json.bin }}\nZone: {{ $json.zone }}\nNgày nhập: {{ DateTime.fromJSDate(new Date($json['import_date'])).toFormat(\"dd-MM-yyyy\") }}",
              "type": "string"
            },
            {
              "id": "260cf7c9-95a8-42aa-92cf-aef9fd53c43d",
              "name": "fifo",
              "value": "yes",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        256
      ],
      "id": "ebc891ce-53d6-41ff-8d9b-504c76927c08",
      "name": "fifo_yes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3fad06f5-4002-4e01-b29e-6d1a952dc49d",
              "leftValue": "={{ $json.fifo }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        336
      ],
      "id": "1ab009e2-9642-4686-aa66-941db68e3ae0",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "284df640-cdc6-4429-ba47-dd2f1ce01881",
              "name": "=sku_{{ $itemIndex }}",
              "value": "=SKU: {{ $json.sku }} - Chưa đúng FIFO\nTên: {{ $json.sku_name }}\nSerial: {{ $json.serial_number }}\nMã BIN: {{ $json.bin }}\nZone: {{ $json.zone }}\nNgày nhập: {{ DateTime.fromJSDate(new Date($json['import_date'])).toFormat(\"dd-MM-yyyy\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        416
      ],
      "id": "3162c1f1-a252-45e2-a760-7055c83f832d",
      "name": "fifo_no"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8T9Xr9W3Wmb0a0NI",
          "mode": "list",
          "cachedResultUrl": "/workflow/8T9Xr9W3Wmb0a0NI",
          "cachedResultName": "sub - app/seatalk-fifo-flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -640,
        16
      ],
      "id": "b13e91ae-bef4-4506-b6a3-a6e0c564d721",
      "name": "Call 'sub - app/seatalk-fifo-flow'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'sub - app/seatalk-fifo-flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_needed_fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "get_needed_fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fifo_yes": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "fifo_yes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fifo_no",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fifo_no": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'sub - app/seatalk-fifo-flow'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "tUGf8pqhOC0yFiUP",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9833acdf-fb6c-4c21-b18a-2287d50ebc0a",
  "meta": {
    "instanceId": "68c41ac370df6979c43f7b043981d851778e281de852517a1e7ed81fd7414bf4"
  },
  "id": "6TBIDTf2jYfBcdSG",
  "tags": [
    {
      "updatedAt": "2025-11-08T12:09:40.816Z",
      "createdAt": "2025-11-08T12:08:49.207Z",
      "id": "aJR3FZVXiQEfDzcy",
      "name": "pv.vn"
    },
    {
      "updatedAt": "2026-02-22T19:25:48.964Z",
      "createdAt": "2026-02-22T19:25:48.964Z",
      "id": "eafg8h8piujdlV6P",
      "name": "pv-opshub-app"
    }
  ]
}